<nav class="navbar navbar-light bg-light">
  <div class="dropdown">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Cases</a>
      <a class="dropdown-item" href="#">Today cases</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Cases <span class="badge badge-primary"><%= world.cases.toLocaleString() %></span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Deaths <span class="badge badge-danger"><%= world.deaths.toLocaleString() %></span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Recovered <span class="badge badge-success"><%= world.recovered.toLocaleString() %></span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Active <span class="badge badge-info"><%= world.active.toLocaleString() %></span></a>
    </li>
  </ul>

  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>